In [1]:
import numpy as nps
import pandas as pd

from scipy.stats import chi2_contingency

In [2]:
path = "data/FinalEvaluation/MonteCarloControl"
data = np.array([np.load(path + "WithExploringStartsFinal.npy"), 
                 np.load(path + "WithoutExploringStartFinal.npy"), 
                 np.load(path + "OffPolicyFinal.npy")]).T 
                 

df = pd.DataFrame(data, index = [-2,-1,0,1,2], columns = ["MCCwES", "MCCwoES", "MCCoff"])
df

    MCCwES  MCCwoES  MCCoff
-2   19753    26685   52081
-1  466030   456094  444037
 0   90342    90852   80827
 1  404898   402268  382028
 2   18977    24101   41027

In [3]:
def show_chi2(chi2):
    print("Chi2 test statistic: " + str(chi2[0]) + "\np-value: " + str(chi2[1]) + "\ndof: " + str(chi2[2]))

In [4]:
chi2 = chi2_contingency(df)
show_chi2(chi2)

Chi2 test statistic: 29194.70527850419
p-value: 0.0
dof: 8

In [5]:
for col in df.columns:
    new_df = df.drop(columns = col)
    chi2 = chi2_contingency(new_df)
    print(list(map(str, new_df.columns)))
    show_chi2(chi2)
    print()

['MCCwoES', 'MCCoff']
Chi2 test statistic: 13856.35601219465
p-value: 0.0
dof: 4

['MCCwES', 'MCCoff']
Chi2 test statistic: 24376.721831714167
p-value: 0.0
dof: 4

['MCCwES', 'MCCwoES']
Chi2 test statistic: 1761.320489131167
p-value: 0.0
dof: 4

In [6]:
df.iloc[1] = df.iloc[0] + df.iloc[1]
df.iloc[3] = df.iloc[3] + df.iloc[4]
df = df.drop(index = [-2,2])
df.index = ["losses", "draws", "wins"]
df

        MCCwES  MCCwoES  MCCoff
losses  485783   482779  496118
draws    90342    90852   80827
wins    423875   426369  423055

In [7]:
chi2 = chi2_contingency(df)
show_chi2(chi2)

Chi2 test statistic: 944.6831622913356
p-value: 3.466030596461758e-203
dof: 4

In [8]:
for col in df.columns:
    new_df = df.drop(columns = col)
    chi2 = chi2_contingency(new_df)
    print(list(map(str, new_df.columns)))
    show_chi2(chi2)
    print()

['MCCwoES', 'MCCoff']
Chi2 test statistic: 780.0926405105445
p-value: 4.02749886282151e-170
dof: 2

['MCCwES', 'MCCoff']
Chi2 test statistic: 638.4980030265551
p-value: 2.2486418525946887e-139
dof: 2

['MCCwES', 'MCCwoES']
Chi2 test statistic: 18.06798877739703
p-value: 0.00011928506936569074
dof: 2