In [1]:
import numpy as np
import pandas as pd
from scipy.stats import chi2_contingency

In [2]:
df = pd.DataFrame(np.array([np.load("MCCwES.npy"), np.load("MCCwoES.npy"), np.load("MCCoff.npy")]).T, 
                  index = [-2,-1,0,1,2], columns = ["MCCwES", "MCCwoES", "MCCoff"])
df

    MCCwES  MCCwoES  MCCoff
-2   12014    16429   54347
-1  474899   472903  454911
 0   89842    85321   70373
 1  409841   407527  380900
 2   13404    17820   39469

In [3]:
def show_chi2(chi2):
    print("Chi2 test statistic: " + str(chi2[0]) + "\np-value: " + str(chi2[1]) + "\ndof: " + str(chi2[2]))

In [4]:
chi2 = chi2_contingency(df)
show_chi2(chi2)

Chi2 test statistic: 60114.65954421561
p-value: 0.0
dof: 8

In [5]:
for col in df.columns:
    new_df = df.drop(columns = col)
    chi2 = chi2_contingency(new_df)
    print(list(map(str, new_df.columns)))
    show_chi2(chi2)
    print()

['MCCwoES', 'MCCoff']
Chi2 test statistic: 31178.695009364103
p-value: 0.0
dof: 4

['MCCwES', 'MCCoff']
Chi2 test statistic: 43709.17049228823
p-value: 0.0
dof: 4

['MCCwES', 'MCCwoES']
Chi2 test statistic: 1437.3043242420288
p-value: 5.62929771312085e-310
dof: 4